// 字体大小
$ssfont: 11px;
$sfont: 13px;
$bfont: 15px;
$wfont: 17px;
$wwfont: 19px;

// 主题色
$g: #05d82e;
$r: #f56c6c;
$o: #e6a23c;
$b: #409eff;
$lb: #40b9ff;
$db: #4068ff;
$ddb: #271bce;
$dddb: #150e74;
$yg: #77d805;

// 背景色
$w: #fff;
$bg: #efefef;
$bor: #f5f7fa;

// 字体色
$f0: #000;
$f2: #222; // 基础字体颜色
$f4: #444;

// 边框
$pa: 15px;
$ma: 15px;

